{% extends "layout.html" %}

{% block subtitle %} - Really simple webchat{% endblock %}

{% block css %} 
	html, body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#chat {
		width: 100%;
		height: 100%;
	}
	#chat #history {
		width: 100%;
		height: 79%;
		border: 1px solid grey;
		overflow-x: hidden;
		overflow-y: scroll;
		clear: both;
		float: left;
	}
	#chat #history .line {
		width: 100%;
		overflow: hidden;
		float: left;
		clear: both;
	}
	#chat #history .line .name {
		max-width: 80px;
		overflow: hidden;
		float: left;
		font-weight: bold;
	}
	#chat #history .line .text {
		float: left;
		margin-left: 5px;
		max-width: 267px;
		word-wrap: break-word;
	}
	#current {
		width: 100%;
		float: left;
		clear: both;
	}
	div.row {
		margin: 2px 0;
		line-height: 25px;
	}
	#current #line {
		float: left;		
		width: 99%;
		margin-right: 1%;
	}
	input {
		height: 25px;
		margin: 0;
	}
{% endblock %}

{% block content %}
<script src='/_ah/channel/jsapi'></script>
<script>
	function Chat() {
		var state = {
			'key': '{{ key }}',
			'username': '{{ username }}'
		}
		
		function send() {
			// don't send empty lines
			if( $('#line').val() == '' )
				return;
			// send current line
			interface.send('/say', 'username=' + state.username + '&msg=' + $('#line').val());
			// clean up
			$('#line').val('');
		}

		var interface = {
			'ready': function() {
				// create buttons
				$('.button').button();
				// send on press of the enter key
				$('#line').bind('keydown', function(ev) {
					if( ev.keyCode == 13 )
						send();
				});
			},
			'unload': function() {
				// leave the channel
				interface.send('/leave', 'username=' + state.username);
			},
			'error': function(msg, data) {
				return;
				// show error message
				$('.content', "#dialog-message").html(msg);
				$("#dialog-message").dialog({
					modal: true,
					closeOnEscape: false,
					draggable: false,
					beforeClose: function(event, ui) {
						$(this).dialog("close");
						document.location.href = '{{ host }}';					
					},
					buttons: {
						Ok: function() {
							$(this).dialog("close");
							document.location.href = '{{ host }}';
						}
					}
				});
			},
			'message': function(answer) {
				// send message on channel
				var data = eval('('+answer.data+')');
				if( 'error' in data ) 
					interface.error(data.error, data);
				else
					interface.line(data.username, data.msg)
			},
			'opened': function(answer) {
				// join the channel
				interface.send('/join', 'username=' + state.username, true);
			},
			'send': function(path, opt_param, sync) {
				if( sync == undefined )
					sync = false
				// send message
				path += '?key=' + state.key;
				if (opt_param)
					path += '&' + opt_param;
				var xhr = new XMLHttpRequest();
				xhr.open('POST', path, !sync);
				xhr.send();
			},
			'line': function(username, msg, clss) {
				if( clss == undefined ) 
					clss = '';
				// add a new line to the buffer
				var markup = [
					'<div class="line">',
						'<div class="name ',,'">@',username,'</div>',
						'<div class="text">',msg,'</div>',
					'</div>'
				]
				$('#history').html( $('#history').html() + markup.join('') );
				$("#history").attr({ scrollTop: $("#history").attr("scrollHeight") });
			}
		}
		$(document).bind('ready', interface.ready)
		window.onbeforeunload = interface.unload;

		var channel = new goog.appengine.Channel('{{ token }}');
		var socket = channel.open();
		socket.onopen = interface.opened;
		socket.onmessage = interface.message;

		return interface;
	}
	var chat = new Chat();
</script>
<h2 style="float: left;"><a href="{{ host }}">Chattify</a></h2> &nbsp; <h2 style="float: left;">Welcome, {{ username }}</h2>
<div id="chat">
	<div id="history">
	</div>
	<br class="clear"/>
	<div id="current" class="row">
		<input type="text" id="line" value"" />
	</div>
</div>

<div id="dialog-message" title="Error" class="hidden">
	<p>
		<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
		<span id="title">An error has occured:</span>
	</p>
	<p class="content">
		Please try again later.
	</p>
</div>
{% endblock %}