{% extends "layout.html" %}

{% block subtitle %} - Really simple webchat{% endblock %}

{% block css %} 
	label {
		width: 100px;
		padding-right: 10px;
		display: block;
		float: left;
		text-align: right;
	}
	
	input {
		width: 200px;
		float: left;
		text-align: left;
	}

	input.button {
		width: auto;
	}

	form {
		width: 500px;
	}

	p.form-hint {
		display: none;
		position: absolute;
		top: -12px;
		right: 0px;
		width: 180px;
		border-top: 1px outset black;
		border-left: 1px inset black;
	}

	.row:hover p.form-hint {
		display: block;
	}
	
	.row {
		clear: both;
		width: 100%;
		float: left;
		position: relative;
	}
	
	#install {
		text-decoration: none;
	}

	.active {
		float: left;
	}
{% endblock %}

{% block js %}
	$(document).bind('ready', function() {
		// change all buttons to jquery ui buttons
		$('.button').button();
		// enable clicks on active chats
		$('.active').bind('click', function() {
			$('#channel').val($(this).html());
			$('#button').val('Join Chat!');
		})
		// change button text
		$('#channel').bind('keydown', function() {
			$('#button').val('Create Chat!');
		})
		// create button
		$('#create').submit(function( ev ) {
			ev.preventDefault();
			$('#channel').slugify();
			$('#username').slugify();
			if($('#channel').val() == '')
				return;
			if($('#username').val() == '')
				return;
			document.location.href = '/chat/' + $('#channel').val() + '/' + $('#username').val();
		});
	})
{% endblock %}

{% block content %}
	<div id="outer">
		<div id="header">
			<h1><a href="{{ host }}">Chattify</a></h1>
		</div>
		<div id="content">
			<strong>Currently Active Chats:</strong>
			<br class="clear" />
			{% for chat in active %}
				<strong class="active link">{{ chat }}</strong>{% if not forloop.last %}, &nbsp;{% endif %}
			{% endfor %}
			<br class="clear" />
			<br class="clear" />
			<form id="create">
				<div class="row">
					<label for="channel">Chat Name</label>
					<input type="text" name="channel" id="channel" value="main channel" />
					<p class="form-hint" >This value is used to name the underlying chat channel.</p> 
				</div>
				<div class="row">
					<label for="username">Username</label>
					<input type="text" name="username" id="username" value="guest{{ users }}" />
					<p class="form-hint" >This your name that will be used to send messages to the channel.</p> 
				</div>

				<br class="clear" />
				<input type="submit" class="button" value="Create Chat!" id="button" />
			</form>

			<br class="clear" />
			<p>Install the automatice greasemonkey script to enable chattify integration into #newtwitter</p>
			<a href="/js/sidebarchat.user.js" class="button">Install the script!</a>

			<br class="clear" />
			<h2>built by <a href="http://twitter.com/BruceJillis">@BruceJillis</a></h2>
			<h3>based on discussions with <a href="http://twitter.com/kruithoph">@kruithoph</a></h3>
		</div>
	</div>
{% endblock %}